# Konfiguracja
token.json
configs/config.json
# !configs/config-example.json


# Dane uzytkownikow
db/

# Logi
logs/

# Python
.venv*/
**/__pycache__/

# Visual Studio Code
.vs/
.vscode/
*.code-workspace