# Konfiguracja
token.json
configs/config.json
configs/._*
# !configs/config-example.json
configs/config.toml

# Dane uzytkownikow
db/

# Logi
logs/

# Python
.venv*/
**/__pycache__/

# Visual Studio Code
.vs/
.vscode/
*.code-workspace

# MacOS
.DS_Store

# Windows
Thumbs.db
Desktop.ini